body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-image: url('../images/bats.gif');
    background-size: auto;
    background-position: top left;
    background-repeat: repeat;
}
.content-box {
    background-color: white;
    border: 4px solid black;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 16px 16px 8px rgba(0, 0, 0, 0.2);
}
header {
    display: flex;
    align-items: center;
    gap: 16px;
    height: auto;
    padding: 24px;
    background: linear-gradient(45deg, white, orange 60%, black);
    border-bottom: 4px solid black;
}
h1 {
    font-size: 40px;
    line-height: 32px;
    margin: 0 0 12px 0;
}
.store-name {
    font-style: italic;
    color: orange;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
}
h2 {
    font-size:24px;
    line-height: 32px;
    margin: 0;
}
.header-text {
    margin: 0;
}
main {
    padding: 24px;
}
ol li a {
    font-weight: 600;
    color: orange;
}
ol li a:hover, ol li a:focus {
    color: green;
}
footer {
    font-size: 14px;
    text-align: center;
    padding: 16px;
    background: linear-gradient(45deg, black, orange 60%, white);
    border-top: 4px solid black;
}
.welcome-line::first-letter {
    font-size: 40px;
    line-height: 32px;
}